useDynLib(treethresh)

export(extract.coefficients)
export(insert.coefficients)
export(extract.coefficients.wd)
export(insert.coefficients.wd)
export(extract.coefficients.imwd)
export(insert.coefficients.imwd)
export(estimate.sdev)
export(estimate.sdev.wd)
export(estimate.sdev.imwd)
export(treethresh)
export(wtthresh)
export(get.t)
export(get.t.treethresh)
export(get.t.wtthresh)
export(get.w)
export(get.w.treethresh)
export(get.w.wtthresh)
export(subtree)
export(subtree.treethresh)
export(subtree.wtthresh)
export(prune)
export(prune.treethresh)
export(prune.wtthresh)
export(thresh)
export(thresh.treethresh)
export(thresh.wtthresh)
export(wavelet.treethresh)
