import(EbayesThresh)
import(wavethresh)
importFrom("graphics", "abline", "axis", "mtext", "segments")
importFrom("stats", "mad", "median", "na.omit", "sd")

useDynLib(treethresh)

export(extract.coefficients)
export(insert.coefficients)
S3method(extract.coefficients,wd)
S3method(extract.coefficients,imwd)
S3method(insert.coefficients,wd)
S3method(insert.coefficients,imwd)
export(estimate.sdev)
S3method(estimate.sdev,wd)
S3method(estimate.sdev,imwd)
export(treethresh)
export(wtthresh)
export(get.t)
S3method(get.t,treethresh)
S3method(get.t,wtthresh)
export(get.w)
S3method(get.w,treethresh)
S3method(get.w,wtthresh)
export(subtree)
S3method(subtree,treethresh)
S3method(subtree,wtthresh)
export(prune)
S3method(prune,treethresh)
S3method(prune,wtthresh)
export(thresh)
S3method(thresh,treethresh)
S3method(thresh,wtthresh)
export(wavelet.treethresh)
